<launch>

   <rosparam file="$(find hero_chassis_controller)/config/chassis_controller.yaml" command="load"/>
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="
            controller/chassis_controller
            controller/joint_state_controller

    "/>  

</launch>